<!DOCTYPE html>
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Bazar e commerce </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/header.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <script src="/js/open-menu.js"></script>
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel='stylesheet' href="/stylesheets/productCart.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body>
  <%- include("partials/header") %> 
  <main>
    <div class="titulos">
    <h1 class="nombre">
      MI CARRITO
    </h1>
  </div>
  <div class="productData">
    <h2>
      Producto:
    </h2>
    <h2 class="cantidad">
      cantidad
    </h2>
    <h2 class="unitario">
      Unitario
    </h2>
    <h2 class="total">
      Total
    </h2>
  </div>
  <% items.forEach(item =>{ %>
    <hr class="titulo1">
    
    <div class="containerCart">
      <div class="box1">
        <form method="POST" action="/cart/item/delete/<%= item.id %>">
          <button type="submit"> 
            <i class="fas fa-times"></i>
          </button>
        </form>
        <image src="/images/uploadProducts/<%= item.image %>"></image>
        <div class="nomProducto">
          <p><%= item.product_name %></p>
        </div>
      </div>
    
      <div class="numberCart">
        <p><%= item.quantity %></p>
      </div>
      <div class="unidad">
        <p><%= item.unit_price %></p>
      </div>
      <div class="precioCart">
        <p><%= item.subtotal %> </p>
      </div>
    </div>
    <hr>
  <% }) %> 
    
    <!--  fin fila cart  -->

    <div class="subtotal">
      <div class="subt">
        <p>Subtotal</p>
      </div>
      <div class="subprecio">  
        <p> <%= totalPrice %></p>
      </div>
    </div>

    <!--  fin fila subtotal  -->

   
    <!--<div class="descuento">
      <p>Cupón de descuento:
      <p>
      <div class="desc">
        <input type="number">
        <label for=""> Validar </label>
      </div>
    </div>

      fin fila descuento  -->

    <hr>

    <div class="envio">

      <div class="costoenvio1">
        <p>Costo de Envío<p>
      </div>     

    </div>

    <!--  fin fila Envio  -->

    <hr>

    <div class="container2">
      <div class="box6">
        <h2>TOTAL A PAGAR</h4>
      </div>
      <div class="box7">
        <p><%= totalPrice %> </p>
      </div>
    </div>

    <!--  fin fila Total a Pagar  -->


    <div class="container3">
      <div class="box8">
        <form action="/cart/order/add" method="POST">
          <button type="submit" class="button1">
            Pagar
          </button>
        </form>
      </div>
      <div class="box9">
        <button class= "button2">
          <a href="/productos">Seguí comprando</a>
        </button>
      </div>
    </div>

    <!--  fin fila Abonar or seguir comprando -->

  </main>
  <%- include("partials/footer") %> 
</body>

</html>