<head>
    <meta charset="UTF-8">
    <title>Bazar e commerce </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/productAdd.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/footer-menu.css">
    
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet">

</head>
<body>
<%- include("partials/header") %>   

<section class="userAccount-section">
 <%- include("partials/adminMenu") %>
    <div class="dashboard">
        <h1 class="productEdit-title dashboardTitle">Edicion de Producto</h1>
        <form action="/productos/edit/<%= product.id %>"  method="POST">
            <div class="formulario">
                <div class="producto">
                    <p>Codigo</p>
                    <input type="text" name="code" value="<%= product.code %> " >
                    <p>Producto</p>
                    <input type="text" name="name" value="<%= product.name %>" >
                    <p>Colores del producto:</p>
                    <%colors.forEach(color=>{ %>
                        <p><input type="checkbox" name="colors" value="<%= color.id %>" <%= product.colorsId.includes(color.id) ? "checked" : "" %> >
                            <%= color.name %>
                        </p>
                    <% }) %>
                    <p>Cantidad de stock</p>
                    <input type="number" name="stock" value="<%= product.stock %>">
                    <p>costo:</p>
                    <input type="number" name="cost" value="<%= product.cost %>">
                    <p>Markup:</p>
                    <input type="number" name="markup" value="<%= product.markup %>">
                    <p>discount:</p>
                    <input type="number" name="discount" value="<%= product.discount %>">
                    <p>Description:</p>
                    <textarea name="description"><%= product.description %></textarea>
                    <h2>Seleccionar a que categoria pertenece:</h2>
                    <% categories.forEach(category=> { %>
                        <h3>
                            <%= category.name %> :
                        </h3>
                        <ul>
                            <% category.subcategories.forEach( subcategory=> { %>
                                <li>
                                    <input type="radio" name="subcategories" value="<%= subcategory.id %>" 
                                    <%= product.subcategory_id == subcategory.id ? "checked" : "" %> >
                                    <%= subcategory.name %>
                                        <label for="subcategories"></label>
                                </li>
                            <% }) %>
                        </ul>
                    <% }) %>
                </div>
            </div>
            <div class="botones">
                <button type="submit">Editar</button>
            </div>
        </form>
    </div>
</section>

<%- include("partials/footer") %>

</body>