<head>
    <meta charset="UTF-8">
    <title>Bazar e commerce </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <script src="/js/open-menu.js"></script>
    <link rel="stylesheet" href="/stylesheets/productAdd.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet">

</head>
<body>
<%- include("partials/header") %>   

<section class="userAccount-section">
 <%- include("partials/adminMenu") %>
    <div class="dashboard">
        <h1 class="productEdit-title dashboardTitle">Edicion de Producto</h1>
        <form action="/productos/edit/<%= product.id %>"  method="POST">
            <div class="formulario">
                <div class="producto">
                    <p>Codigo</p>
                    <input type="text" name="code" value="<%= product.code %> " >
                    <p>Producto</p>
                    <input type="text" name="name" value="<%= product.name %>" >
                     <h2>Seleccionar a que categoria pertenece:</h2>
                      <% categories.forEach(category=> {
                         %>
                        
                        <label for="<%=category.id %>"> <input type="checkbox" name= "category" value="<%=category.id %>"
                            <% if ( product.category.id == category.id ) {%> checked <%}%>  >  <%= category.name %> </label> 
                        
                       <!-- <ul>
                            <% category.subcategories.forEach( subcategory=> { %>
                                <li>
                                    <input type="radio" name="subcategories" value="<%= subcategory.id %>" 
                                    <%= product.subcategory_id == subcategory.id ? "checked" : "" %> >
                                    <%= subcategory.name %>
                                        <label for="subcategories"></label>
                                </li>
                            <% }) %>
                        </ul> -->
                    <% }) %> 
                   
                   
                    <p>Colores del producto:</p>
                    <%colors.forEach(color=>{ %>
                      
                        <p><input type="checkbox" name="colors" value="<%= color.id %>" <%= product.colorsId.includes(color.id) ? "checked" : "" %> >
                            <%= color.name %>
                        </p>
                    <% }) %>
                    <p>Cantidad de stock</p>
                    <input type="number" name="stock" value="<%= product.stock %>">
                    <p>costo:</p>
                    <input type="number" name="cost" value="<%= product.cost %>">
                    <p>Markup:</p>
                    <input type="number" name="markup" value="<%= product.markup %>">
                    <p>discount:</p>
                    <input type="number" name="discount" value="<%= product.discount %>">
                    <p>Description:</p>
                    <textarea name="description"><%= product.description %></textarea>
                
                  
                </div>
            </div>
            <div class="botones">
                <button type="submit">Editar</button>
            </div>
          <p> Imágenes del producto</p>
          <div class="update-images">
          <% product.images.forEach(function(image) { let number=0%> 
            <form name = "product-image-form" class="img-form" action="/producto/imageDelete/<%= image.id %>" method="post">
            <label class="image-e-c" for="<%= image.id %>"> <input type="checkbox" name="productImage" id="<%=image.id%>" value="<%=image.id%>"> <img class="thumbnail-edit" src="/images/uploadProducts/<%=image.name %>" width="250px"> </label>
            <input type="submit" value="borrar"> 
            </form>

            
            <%;})%>  
            </div>
    </div>
</section>

<%- include("partials/footer") %>
<script> 
let imagenes= <%= product.images %> ;
console.log( imagenes)</script>

</body>