<head>
    <meta charset="UTF-8">
    <title>Bazar e commerce </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <script src="/js/open-menu.js"></script>
    <link rel="stylesheet" href="/stylesheets/productAdd.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
<%- include("partials/header") %>   

<section class="userAccount-section">

 

        <%- include("partials/adminMenu") %>


<div class="dashboard">

    <div>
        <h1 class="productEdit-title dashboardTitle">ABM DE PRODUCTO</h1>
        <form action="/productos/create" enctype="multipart/form-data" method="POST">
            <div class="formulario">
                    <div class="producto">
                        <p>Codigo</p> 
                        <input type="text" name="code" placeholder="Colocar el codigo del producto">
                        <p>Producto</p> 
                        <input type="text" name="name" placeholder="Colocar el nombre del producto">
                        
                        <p>Con colores:</p>
                        <%colors.forEach(color =>{ %>
                            <p><input type="checkbox" name="colors" value="<%= color.id %>"><%= color.name %></p>
                        <% }) %>

                        <hr> 
                        <p>Cantidad de stock</p> 
                        <input type="number" name="stock" placeholder="Ingrese la cantidad de stock">
                        <p>costo:</p>
                        <input type="number" name="cost">
                        <p>Markup:</p>
                        <input type="number" name="markup">
                        <p>discount:</p>
                        <input type="number" name="discount">
                        <p>Agregar Imagenes:</p>
                        <input type="file" name="image" multiple>
                        <p>Description:</p>
                        <textarea name="description"></textarea>
                      
                        <!--<label for="">Categoria</label>-->
                        <h3>Seleccionar a que subcategoria pertenece:</h3> 
                        <% categories.forEach(category => { %>
                            <h4> <%= category.name %></h4>
                            <ul>
                                <% category.subcategories.forEach( subcategory=> { %>
                                    <li>
                                        <input type="radio" name="subcategories" value="<%= subcategory.id %>">
                                        <%= subcategory.name %>
                                        <label for="subcategories"></label>
                                    </li>
                                <% }) %> 
                            </ul>   
                        <% }) %>
                        </div>  
                        
            <div class="botones">
                <button type="submit">Agregar</button>
            </div>
        </form>     
    </div>
    <% if (typeof alert != "undefined") { %>
        <script>Swal.fire({
            position: 'top-middle',
            icon: 'success',
            title: 'Producto cargado con exito!',
            showConfirmButton: false,
            timer: 1500
          })</script>
    <% } %>


</div>




</section>

<%- include("partials/footer") %>

</body>