<head>
    <%- include("partials/head") %> 
    <meta charset="UTF-8">
    <title>Bazar e commerce </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/productAdd.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/productDetail.css">
    
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet">    
</head>
<body>
<%- include("partials/header2") %>   

<section class="userAccount-section">
 
    <% if(usuario){ %>
        <%- include("partials/adminMenu") %>
    <% } %> 

<div class="dashboard">

    <h1 class="dashboardTitle">Lista de Productos</h1>
    <br>
   
        <% 
        let productsCounter=0; %>
        <% products.forEach(function(products){
            productsCounter++ %>

            <ul >
        <a href="/productos/detail/<%= products.id %>"> Ver detalle del producto </a>  <br> 
        <li>
                Name: <%= products.name %> -
            </li>
            <li>
                Price: <%= products.price %> -
            </li>
            <li>
                Stock: <%= products.stock %> -
            </li>
            <li>
                ID: <%= products.id %> -
            </li>
            <li>
                Description : <%= products.description %>- 
            </li>
             <% if (products.images.length >0) { %>

                <% if(usuario.admin == 1){ %>
                    <a href="/productos/edit-images/<%= products.id %>">
                     Agregar o quitar imágenes 
                    </a>
                <% } %> 
                      

                <div class="column" id="<%=productsCounter%>">
                    <div class="FIWrapper">
                    <img id="featured<%= productsCounter %>" class="featuredImage" src="/images/uploadProducts/<%= products.images[0].name %>" width="50%">
                    </div>
                    <br>
                    <br>
                    <div class="slide-wrapper">
                      <img id="" class="arrow slideLeft" src="/images/arrow-left.png">
                      <img id="" class="arrow slideRight" src="/images/arrow-right.png">
                      <div class="slider"> <% for (i=0; i<products.images.length; i++) { %>
                        <img class="thumbnail <%=productsCounter %>" src="/images/uploadProducts/<%= products.images[i].name %>">
                        <% } } %>

                      
                      </div>
                     

                     
                    </div>
                  </div>
                
                 

             

            </li>
                <% if(usuario.admin == 1){ %>
                    <a href="/productos/edit/<%= products.id %>">EDITAR</a> -
                    <form method="POST" action="/productos/destroy/<%= products.id %>">
                        <button type="submit">Borrar</button>
                    </form>
                <% } %>
            </li>
            <br>
            <hr>
          
        <% }) %>
    </ul>

</div>




</section>

<%- include("partials/footer2") %>

<script type="text/javascript">
    let thumbnails = document.getElementsByClassName('thumbnail')

    let activeImages = document.getElementsByClassName('active')

    for (var i = 0; i < thumbnails.length; i++) {

      thumbnails[i].addEventListener('mouseover', function () {
          let numberElement= this.parentNode.parentNode.parentNode.getAttribute("id");
          console.log( numberElement);
        console.log(activeImages) ;

        if (activeImages.length > 0) {
          activeImages[0].classList.remove('active')
        }


        this.classList.add('active')
        document.getElementById('featured'+numberElement).src = this.src
      })
    }


    let buttonRight = document.querySelectorAll('.slideRight');
    let buttonLeft = document.querySelectorAll('.slideLeft');

    buttonRight.forEach(function(buttonSelected){
       buttonSelected.addEventListener('click', function(){
       let slider=    this.parentNode.querySelector('.slider');
       console.log(slider);
       slider.scrollLeft += 180;

       } )

    })

    buttonLeft.forEach(function(buttonSelected){
        buttonSelected.addEventListener('click', function(){
            let slider= this.parentNode.querySelector('.slider')
            console.log(slider);
            slider.scrollLeft -=180;
        })
    })
  

   


  </script>

</body>